<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
}) %>

<% for (let libro of libros) { %>
    <html>
        <script src="https://cdn.tailwindcss.com"></script>
        
        <body>
          <h1 class="flex justify-center text-red-950 italic text-3xl py-3 hover:text-red-400 hover:text-4xl ">Libros</h1>
          <ul  class="flex justify-center">
            <li class="py-3 px-5 bg-slate-200 text-white-400 ring-2 ring-black justify-center"> 
            <div>
            <%= libro.nombre %>
            <br></br>
            <img src= "public/uploads/<%=libro.imagen %>" alt="Libro" class=" w-fit h-fit">
            <% for (let permiso of permisos) { %>
                <% if(permiso.permiso == 'editar_libro') { %>
                <a href="/libro/editar/<%= libro.id %>" class=" text-slate-900 hover:bg-purple-500 hover:shadow-md py-4 px-3 rounded-sm">Editar</a> <br> <br>
                <% } %>
            <% } %>
            </div>
            </li>
            </ul>
        </body>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
        <div>
            <% } %>
            <% if (ultimo_libro != '') { %>
                <p>El último libro fue: <%= ultimo_libro %></p>
                <% } %>
                
            </div>
            <%- include('includes/foot.ejs') %>
    </html>
